<div class="opened-module-title">{{title$ | async}}</div>

<form [formGroup]="customerForm" (ngSubmit)="createCustomer(form)">
  
  <div class="form-group">
    <input type="text" name="firstName" [formControl]="firstName" placeholder="First Name" />
  </div>

  <div class="form-group">
    <input type="text" name="lastName" [formControl]="lastName" placeholder="Last Name" />
  </div>
  
  <div class="form-group">
    <input type="text" name="name" [formControl]="name" placeholder="Full Name" />
  </div>

  <div class="form-group">
      <input type="text" name="name" [formControl]="phone" placeholder="Phone Number" />
    </div>

  <div class="form-group">
    <button type="submit">save</button>
  </div>

</form>
